* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #9198e5;
    color: white;
    text-align: center;
}

.container {
    background: rgba(255, 255, 255, 0.2);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
}

h2 {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.9);
    color: #333;
    outline: none;
}

input::placeholder {
    color: #9c9b9b;
}

.btn {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background: #514593;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.btn:hover {
    transform: scale(1.05);
}

.message {
    margin-top: 15px;
    font-size: 14px;
}

.link {
    margin-top: 10px;
    font-size: 14px;
}

.link a {
    color: #4227d8;
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}